*{
    padding: 0%;
    margin: 0%;
}
.footer{
    height: 40px;
    padding-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.footer img{
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    width: 35px;
    cursor: pointer;
}
.footer img:hover{

        transform: scale(1.3);
        box-shadow: 0 4px 8px rgba(228, 52, 228, 0.842);
    }


    @media (max-width: 800px) {

        .footer{
            background-color: transparent;
            height: 0px;
            margin-top: 3px;
            margin-bottom: 20px;
            margin-left: 50px;
        }
    }
   